sir-tweets-a-lot.flow
[{"id":"8055a1d0.d0af3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f7d1b7c.87cc748","type":"twitter out","z":"8055a1d0.d0af3","twitter":"","name":"Tweet","x":690,"y":100,"wires":[]},{"id":"239a1495.f7f11c","type":"camerapi-takephoto","z":"8055a1d0.d0af3","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"","x":170,"y":220,"wires":[["d453d987.1d2438","1e4fc297.72fe0d","daa2f3fe.8b661"]]},{"id":"ae869ab7.60dbb8","type":"inject","z":"8055a1d0.d0af3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":100,"wires":[["fa4c70b1.397aa"]]},{"id":"1e4fc297.72fe0d","type":"function","z":"8055a1d0.d0af3","name":"","func":"msg.media = msg.payload;\nmsg.payload = \"This is a test!\";\nmsg.tweetit = flow.get('tweetit');\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":220,"wires":[["6d6e6ed.c31669"]]},{"id":"d453d987.1d2438","type":"debug","z":"8055a1d0.d0af3","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":610,"y":60,"wires":[]},{"id":"fa4c70b1.397aa","type":"function","z":"8055a1d0.d0af3","name":"","func":"msg.contrast = flow.get('contrast');\nmsg.brightness = flow.get('brightness') || \"50\";\nmsg.sharpness = flow.get('sharpness') || \"100\";\nmsg.users = flow.get('users') || \"@fansaycheese\";\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":140,"wires":[["239a1495.f7f11c"]]},{"id":"b527a2e1.c3e24","type":"ui_button","z":"8055a1d0.d0af3","name":"","group":"47413d20.d4e884","order":0,"width":0,"height":0,"passthru":false,"label":"Snap!","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":120,"wires":[["fa4c70b1.397aa"]]},{"id":"f0739881.30c348","type":"ui_template","z":"8055a1d0.d0af3","group":"47413d20.d4e884","name":"","order":0,"width":"12","height":"10","format":"<style>\nimg {\n    max-width: 100%;\n    max-height: 100%;\n}\n</style>\n<div ng-bind-html=\"msg.html\"></div>\n<img src=\"data:image/jpeg;base64,{{msg.payload}}\">\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":620,"y":280,"wires":[[]]},{"id":"daa2f3fe.8b661","type":"base64","z":"8055a1d0.d0af3","name":"","action":"","property":"payload","x":480,"y":280,"wires":[["f0739881.30c348"]]},{"id":"7cffca95.ca8ef4","type":"ui_text_input","z":"8055a1d0.d0af3","name":"","label":"@ Users","group":"47413d20.d4e884","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":120,"y":380,"wires":[["d1f1f8b6.802648"]]},{"id":"d1f1f8b6.802648","type":"function","z":"8055a1d0.d0af3","name":"Users Tag","func":"flow.set('users', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":380,"wires":[[]]},{"id":"b78c97e2.a22de8","type":"ui_slider","z":"8055a1d0.d0af3","name":"","label":"Brightness","group":"47413d20.d4e884","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":130,"y":260,"wires":[["3ac65dde.d3d622"]]},{"id":"f97aefc2.32595","type":"ui_slider","z":"8055a1d0.d0af3","name":"","label":"Contrast","group":"47413d20.d4e884","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":120,"y":300,"wires":[["65d57f82.51c5f"]]},{"id":"3ac65dde.d3d622","type":"function","z":"8055a1d0.d0af3","name":"brightness","func":"flow.set('brightness', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":260,"wires":[[]]},{"id":"65d57f82.51c5f","type":"function","z":"8055a1d0.d0af3","name":"contrast","func":"flow.set('contrast', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":300,"wires":[[]]},{"id":"14500c75.400ff4","type":"ui_slider","z":"8055a1d0.d0af3","name":"","label":"Sharpness","group":"47413d20.d4e884","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"100","step":1,"x":130,"y":340,"wires":[["dbca98b.cf74b68"]]},{"id":"dbca98b.cf74b68","type":"function","z":"8055a1d0.d0af3","name":"sharpness","func":"flow.set('sharpness', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":340,"wires":[[]]},{"id":"f9afcf8b.3d8ff","type":"ui_switch","z":"8055a1d0.d0af3","name":"","label":"Tweet It !","group":"47413d20.d4e884","order":0,"width":"5","height":"2","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":130,"y":440,"wires":[["535e9634.eb8338"]]},{"id":"535e9634.eb8338","type":"function","z":"8055a1d0.d0af3","name":"","func":"flow.set('tweetit', msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[[]]},{"id":"6d6e6ed.c31669","type":"switch","z":"8055a1d0.d0af3","name":"","property":"tweetit","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":220,"wires":[["63a7bfa3.2dda2"],["70883480.ea6afc"]]},{"id":"63a7bfa3.2dda2","type":"delay","z":"8055a1d0.d0af3","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":160,"wires":[["f7d1b7c.87cc748"]]},{"id":"53631f9c.63c81","type":"ui_text","z":"8055a1d0.d0af3","group":"47413d20.d4e884","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":610,"y":400,"wires":[]},{"id":"70883480.ea6afc","type":"function","z":"8055a1d0.d0af3","name":"","func":"msg.payload = \"Not Tweeting\";\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":340,"wires":[["53631f9c.63c81"]]},{"id":"9cfadb13.fbb5f8","type":"inject","z":"8055a1d0.d0af3","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":0.1,"x":190,"y":20,"wires":[["d9866ac2.f94898"]]},{"id":"5f426400.b434dc","type":"camerapi-takephoto","z":"8055a1d0.d0af3","filemode":"0","filename":"","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"1","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","imageeffect":"none","name":"","x":450,"y":20,"wires":[["148a3151.6a9e1f"]]},{"id":"254fec81.487214","type":"ui_template","z":"8055a1d0.d0af3","group":"47413d20.d4e884","name":"","order":0,"width":"7","height":"5","format":"<style>\nimg {\n    max-width: 100%;\n    max-height: 100%;\n}\n</style>\n<div ng-bind-html=\"msg.html\"></div>\n<img src=\"data:image/jpeg;base64,{{msg.payload}}\">\n","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":720,"y":20,"wires":[[]]},{"id":"d9866ac2.f94898","type":"function","z":"8055a1d0.d0af3","name":"","func":"msg.contrast = flow.get('contrast');\nmsg.brightness = flow.get('brightness') || \"50\";\nmsg.sharpness = flow.get('sharpness') || \"100\";\nmsg.users = flow.get('users') || \"@fansaycheese\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":20,"wires":[["5f426400.b434dc"]]},{"id":"148a3151.6a9e1f","type":"base64","z":"8055a1d0.d0af3","name":"","action":"","property":"payload","x":420,"y":40,"wires":[["254fec81.487214"]]},{"id":"47413d20.d4e884","type":"ui_group","z":"","name":"Default","tab":"6db5524c.9cafac","disp":true,"width":"12","collapse":true},{"id":"6db5524c.9cafac","type":"ui_tab","z":"","name":"Sir Tweets A Lot","icon":"dashboard"}]
